sudo: required

services:
  - docker

script:
  - docker build . -t img
  - docker run --name build img
  - docker cp build:/project/app/build/outputs/apk/debug/app-debug.apk .

before_deploy:
  - git config --local user.name "Borodin Gregory"
  - git config --local user.email "grihabor@gmail.com"
  - export GIT_COMMIT=$(git log --format=%h -1)
  - mv debug.apk "$GIT_COMMIT.apk"
  - git tag "$(date +'%Y-%m-%d_%H-%M-%S')_$GIT_COMMIT"

deploy:
  provider: releases
  api_key: ${DEPLOY_TOKEN}
  file: ${GIT_COMMIT}.apk
  skip_cleanup: true 
  prerelease: true
  on:
    branch:
      - master
 
